@import url('../../colors.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--lightGray);

}

.main{
    /* min-width: calc(100% - 60%); */
    /* max-width: calc(100% - 60%); */
    /* margin: auto; */
}

@media (max-width: 376px){
    .main{
        min-width: 100%;
        /* padding: 0; */
        padding: 1em;
    }
}