@import url(../../colors.css);

.containerDelete{
    border:2px solid black;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
    padding-bottom: 2em;
    border-radius: 30px;
}

.containerDelete p{
    border:2px solid yellow;
    width: 80%;
    margin: 0;
    text-align: start;
}

.btns{
    border:2px solid red;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.btns :first-child{
    background-color: var(--darkBlue);
    color: var(--white);
}

.btns :last-child{
    background-color: var(--softRed);
    color: var(--white);
}