@import url('../../colors.css');


.containerComment, .containerReply{
    display: flex;
    background: var(--white);
    border-radius: 9px;
    padding: 20px 25px ;
    margin: .5em auto;
    max-width: 580px;
    min-width: 580px;
}

.containerReply{
    min-width: 500px;
    max-width: 500px;
    margin-right: 0;
}
