@import url('../../colors.css');


.containerComment, .containerReply{
    display: flex;
    background: var(--white);
    border-radius: 9px;
    padding: 20px 25px ;
    /* width: calc(100% - 60%); */
    margin: .5em auto;
    /* border:2px solid red; */
}

.containerReply{
    width: 90%;
    margin: .5em 0;
}
