@import url(../../colors.css);

.containerReply{
    border:2px solid red;
}

.reply{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
}

textarea{
    width: 100%;
    height: 80px;
    resize: none;
    border-radius: 10px;
}

.btnReply{
    background-color: var(--moderateBlue);
    color: var(--white);
}