.comment{
    display: grid;
    grid-template-columns: .1fr 1fr .2fr;
    grid-template-rows: auto;
    /* gap: 10px; */
    column-gap: 20px;
    row-gap: 10px; 
    background: var(--white);


}

.header{
    display: flex;
    flex-direction: row;
    grid-column: 2/3;
    grid-row: 1/2;

    align-items: center;
}

.username{
    margin: 0 1em;
    font-weight: 600;
}

.time, .bodyComment p{
    color: var(--grayishBlue);
}

.bodyComment{
    grid-column: 2/4;
    grid-row: 2/4;
}

.contadorLikes{
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/4;

    align-items: center;
    height: max-content;
    padding: 10px 8px;
    border-radius: 5px;
    background: var(--lightGray);
}

.contadorLikes button{
    background: none;
    border: none;
    font-size: medium;
    color: var(--grayishBlue);
    cursor: pointer;
    font-weight: 600;
}

.contadorLikes span{
    margin: .5em 0;
    color: var(--darkBlue);
    font-weight: 600;
}

.reply{
    grid-column: 3/4;
    grid-row: 1/2;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--moderateBlue);
    font-weight: 600;
    font-size: 15px;

    cursor: pointer;
}

.active{
    color: var(--darkBlue) !important;
}

@media (max-width: 376px){

    .header{
        grid-column: 1/4;
        grid-row: 1/2;   
    }

    .bodyComment{
        grid-column: 1/4;
        grid-row: 2/3;
    }
    
    .contadorLikes{
        flex-direction: row;
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 0;
        justify-content: space-around;
        padding: 0 .4em;
    }

    .contadorLikes button{
        /* background: black; */
        padding: .5em;
    }
    
    .contadorLikes span{
        padding: 0 .5em;
    }
        
    .reply{
        grid-column: 3/4;
        grid-row: 3/4;
        width: max-content;
    }
}