@import url('../../colors.css');

.contenedor{
    border-radius: 20px;
    /* height: calc(100vh + 70px); */
    min-height: 100vw;
    padding-top: 5em;
    display: flex;
    flex-direction: column;

    width: max-content;
    margin:auto;
}